body {
    background-color: #121212; /* Sfondo scuro */
    color: white; /* Testo bianco */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altezza piena della finestra */
    margin: 0;
}

.container {
    text-align: center; /* Centro il contenuto */
}

#connectButton {
    background-color: #007bff; /* Colore blu del pulsante */
    color: white; /* Testo bianco */
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px; /* Spazio sotto il pulsante */
    border-radius: 5px;
}

.options {
    display: flex; /* Imposta il contenitore per i rettangoli in orizzontale */
    justify-content: center; /* Centro i contenitori */
}

.option {
    background-color: #1e1e1e; /* Sfondo dei contenitori */
    border: 1px solid #444; /* Bordo grigio */
    border-radius: 8px;
    padding: 20px;
    margin: 0 10px; /* Spazio tra i contenitori */
    cursor: pointer;
    text-align: center;
    transition: transform 0.2s;
}

.option:hover {
    transform: scale(1.05); /* Effetto di ingrandimento al passaggio del mouse */
}
