/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #2c2c2c; /* Colore di sfondo scuro */
    color: white; /* Colore del testo bianco */
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Occupa l'altezza completa della viewport */
}

.container {
    text-align: center;
}

#connectButton {
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
}

.option-container {
    display: flex;
    flex-direction: column; /* Disposizione verticale */
    align-items: center; /* Centra gli elementi */
    margin-top: 20px;
}

.option {
    background-color: #444; /* Colore di sfondo per i contenitori */
    border: 1px solid #666; /* Bordo */
    border-radius: 5px; /* Angoli arrotondati */
    padding: 20px;
    margin: 10px 0; /* Spazio tra i contenitori */
    width: 80%; /* Larghezza del contenitore */
    transition: background-color 0.3s; /* Transizione per l'effetto hover */
}

.option:hover {
    background-color: #555; /* Colore di sfondo al passaggio del mouse */
}
